.panelContainer {
  color: #333;
  background: linear-gradient(
    290deg,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.4)
  );

  backdrop-filter: blur(10px);

  min-width: 390px;
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border-radius: 20px;
  padding: 20px;

  z-index: 2;

  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.575),
    -1px -1px 1px rgba(255, 255, 255, 0.401), 0 0 8px rgba(255, 255, 255, 0.493);

  form {
    height: 100%;
    width: 100%;

    padding: 10px 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    position: relative;
    border-radius: 10px;
    overflow: hidden;

    // background-color: rgba(255, 255, 255, 0.141);

    .title {
      font-family: "Poppins", sans-serif;

      padding: 15px;
      width: 100%;

      position: relative;
      display: flex;
      flex-direction: column;

      text-align: center;

      line-height: 2;

      h1 {
        font-size: 30px;
        color: rgb(21, 21, 21);
        font-weight: 600;

        font-family: inherit;
      }
      h2 {
        font-size: 13px;
        color: rgba(21, 21, 21, 0.729);
        font-weight: 400;

        font-family: inherit;
      }
    }

    .inputCollection {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      padding: 0 20px;

      input {
        border: none;

        background-color: rgba(255, 255, 255, 0.17);
        color: rgb(24, 24, 24);

        padding: 10px 15px;
        margin: 6px;
        border-radius: 13px;

        width: 100%;
        height: fit-content;

        outline: none;

        &::placeholder {
          color: rgba(46, 46, 46, 0.708);
        }
      }
    }

    .signInOptions{
      margin: 20px 0 30px 0;
      width: 100%;
      padding: 0 23px;

      position: relative;

      display: flex;

      label{
        margin-left: 7px;
        font-size: 12px;
        width: 100%;
      }
      
      a{
        color: #26293bb2;
        text-decoration: none;
        font-size: 12px;

        width: 100%;
      }
    }

    .btnCollection {
      position: relative;
      display: flex;

      width: 100%;
      height: fit-content;

      padding: 10px;

      display: flex;

      button {
        background: none;
        border: none;

        justify-content: center;
        align-items: center;

        padding: 12px 25px;
        border-radius: 30px;

        height: fit-content;

        position: relative;

        font-weight: 600;

        cursor: pointer;

        width: 100%;
        background-color: #121212;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .createAccount{
      font-size: 12px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
      .clickable{
        color: rgb(11, 44, 255);
        cursor: pointer;
      }
    }
  }
}


@media(max-width:400px){
.panelContainer {
  min-width: 0;
  width: 95vw;
  padding: 15px;
}
}